@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  --color-base-bg: #1b1a17;
  --color-light-bg: #1f1e1b;
  --color-pri-text: #f0e3ca;
  --color-title-text: #ff8303;
  --color-base-bg-transp: #1f1e1bf7;
  --color-navbar-active-bg: #171717cc;
  --input-shadows: rgba(163, 163, 163, 1);
  --color-title-transp: #ff830383;
  --font-family: 'Inconsolata', monospace;
  --font-family-logo: 'Anton', sans-serif;
  --font-family-logo-sec: 'Inter', sans-serif;
  --p-size: 1rem;
  --p-size-small: 0.1rem;
  --header-height: 4rem;
}

html, 
body {
  background-color: var(--color-base-bg);
  box-sizing: border-box;  
  color: var(--color-pri-text);
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: calc(var(--header-height) + 3rem);
}

.menu-btn {
  background-color: transparent;
  border: none;
  color: var(--color-pri-text);
  cursor: pointer;
  padding: 0 1rem 0 0;
  transition: transform 0.5s ease;
}

.menu-btn:active {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  transform: rotate(360deg);
}
