@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  --color-base-bg: #1b1a17;
  --color-light-bg: #1f1e1b;
  --color-pri-text: #f0e3ca;
  --color-title-text: #ff8303;
  --color-base-bg-transp: #1f1e1bf7;
  --color-navbar-active-bg: #171717cc;
  --input-shadows: rgba(163, 163, 163, 1);
  --color-title-transp: #ff830383;
  --font-family: 'Inconsolata', monospace;
  --font-family-logo: 'Anton', sans-serif;
  --font-family-logo-sec: 'Inter', sans-serif;
  --p-size: 1rem;
  --p-size-small: 0.1rem;
  --header-height: 4rem;
}

html, 
body {
  background-color: var(--color-base-bg);
  box-sizing: border-box;  
  color: var(--color-pri-text);
  margin: 0;
  overflow-x: hidden;
  padding: 0;
  scroll-behavior: smooth;
  scroll-padding-top: calc(var(--header-height) + 3rem);
}

a:active {
  color: var(--color-title-text);
  opacity: 0.7;
}

.menu-btn {
  background-color: transparent;
  border: none;
  color: var(--color-pri-text);
  cursor: pointer;
  padding: 0 1rem 0 0;
  transition: transform 0.5s ease;
}

.multiline {
  white-space: pre-line;
}

.container-headline {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  gap: 2rem;
  justify-content: center;
  letter-spacing: 0.025em;
  min-height: 75vh;
  width: 100%;
  /* padding: 4rem 0 0 0; */
}

.presentation-container {
  align-items: flex-start;
  display: flex;
  flex-flow: column wrap;
  gap: 1rem;
  justify-content: center;
  margin-top: 3rem;
  max-width: 400px;
  width: 80%;
}

.container-profile {
  color: rgba(163, 87, 9, 0.5);
  margin-top: 0;
  /* min-height: 50vh; */
  max-height: 302px;
  max-width: 400px;
  overflow: hidden;
  position: relative;
  width: 90%;
}

.btn-cv {
  align-items: center;
  background-color: #32312e;
  border-color: transparent;
  border-radius: 6px;
  color: var(--color-pri-text);
  display: flex;
  flex-flow: column nowrap;
  height: 56px;
  justify-content: center;
  text-align: center;
  transition: background-color 1s ease-in-out;
  width: 99%;
}

.about-me
{
  align-items: center;
  background-color: var(--color-light-bg);
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  min-height: 100vh;
  padding-top: 8rem;
  width: 100%;
}

.my-skills {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: var(--color-base-bg);
  width: 100%;
  overflow-y:hidden;
  padding-bottom: 2rem;
}

.skill {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  box-sizing: border-box;
  font-size: calc(var(--p-size) + 1vw);
  padding-left: 2rem;
  width: 75%;
  height: 4.5rem;
  background-color: var(--color-light-bg);
  border-radius: 6px;
  margin-top: 1rem;
  transition: transform 0.5s ease-in-out;
}

.skill div {
  width: 2.5rem;
}

.skill svg {
  fill: var(--color-pri-text);
  transition: fill 0.7s ease-in-out;
}

.skill path, rect {
  transition: fill 0.7s ease-in-out;
}

.skill:hover {
  transform: translateY(-10%);
}
 
.html5:hover svg {
  fill: #fc490b;
}

.css:hover svg {
  fill: #2196f4;
}

.js:hover svg {
  fill: #ffdf00;
}

.scss:hover svg {
  fill: #ca669b;
}

.git:hover svg {
  fill: #f25234;
}

.react:hover rect {
  fill: #00d1f7;
}

.ts:hover path {
  fill: #2d79c7;
}

.nextjs:hover path {
  fill: #000000;
}

.tw:hover path {
  fill: #38bdf8;
}

.boots:hover path {
  fill: #7952b3;
}

.sc:hover path{
  fill:#ee3f86;
}

.jest:hover path:first-child {
  fill:#99425b;
}

.btn-cv:hover,
.btn-cv:focus {
  background-color: var(--color-title-transp);
} 

.menu-btn:active {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  transform: rotate(360deg);
}

a:hover {
  color: var(--color-title-text);
  opacity: 0.7;
  transition: opacity 0.5s ease;
}

a:focus {
  color: var(--color-title-text);
  opacity: 0.7;
  transition: opacity 0.5s ease;
}